In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
tony = pd.read_csv('/Users/morganhogenmiller/Desktop/DA 401/Data sets/Tonywinsm.csv') # read in Tony data
Broadway_Original = pd.read_csv('/Users/morganhogenmiller/Desktop/DA 401/Data sets/broadway(corgi).csv') #Read in CORGI data set
weeks=pd.read_csv('/Users/morganhogenmiller/Desktop/DA 401/Data sets/selfedited.csv')

Google_Parameters= Broadway_Original[['Name','Year','Month','Day','Type']] #Reduce data set to variables to input into GT

#Filter to shows after 2007 only
Google_Parameters=Google_Parameters.loc[Google_Parameters['Year']>2007] 
Google_Parameters=Google_Parameters.loc[Google_Parameters['Type']=='Musical']
weeks['Weeks'] = np.log(weeks['Weeks'])
weeks=weeks.rename({'Weeks':'LogWeeks'})

#Provides a list of shows in form needed for function 
show_list=list(Google_Parameters.Name.unique()) 
show_list.sort() #in alphabetical order
show_list.remove('Les Misrables 2006')

list(tony.iloc[:,1])
show_list = ['13',
 '9 To 5',
 'A Catered Affair',
 "A Chorus Line '06",
 'A Christmas Story',
 "A Gentleman's Guide To Love And Murder",
 'A Little Night Music',
 'A Night With Janis Joplin',
 'A Tale Of Two Cities',
 'After Midnight',
 'Aladdin',
 'All About Me',
 'Allegiance',
 'Amazing Grace',
 'American Idiot',
 'American Psycho',
 'An American In Paris',
 "Annie '12",
 "Anything Goes",
 'Avenue Q',
 "Baby It'S You!",
 'Beautiful: The Carole King Musical',
 'Big Fish',
 'Billy Elliot: The Musical',
 'Bloody Bloody Andrew Jackson',
 'Bonnie And Clyde',
 'Bright Star',
 'Bring It On The Musical',
 'Bullets Over Broadway',
 'Burn The Floor',
 'Bye Bye Birdie',
 'Cabaret',
 'Catch Me If You Can',
 'Cats 2016',
 'Chaplin',
 'Chicago',
 'Cinderella',
 'Come Fly Away',
 'Cry Baby',
 'Curtains',
 'Dames At Sea',
 'Disaster!',
 'Doctor Zhivago',
 "Dr. Seuss' How The Grinch Stole Christmas! 07",
 'Elf',
 "Elf '12",
 'Everyday Rapture',
 'Evita',
 'Fela!',
 'Fiddler On The Roof 2015',
 'Finding Neverland',
 "Finian's Rainbow",
 'First Date',
 "Follies '11",
 'Fun Home',
 'Ghost',
 'Gigi',
 'Glory Days',
 'Godspell',
 'Grease 07',
 "Guys And Dolls",
 "Gypsy '08",
 'Hair',
 "Hair",
 'Hairspray',
 'Hamilton (musical)',
 'Hands On A Hardbody',
 'Hedwig And The Angry Inch',
 'Holler If Ya Hear Me',
 'Honeymoon In Vegas',
 "How To Succeed In Business Without Really Trying '11",
 'If/Then',
 'In The Heights',
 "Irving Berlin'S White Christmas",
 "Irving Berlin'S White Christmas '09",
 'It Shoulda Been You',
 "Jekyll & Hyde '13",
 'Jersey Boys',
 "Jesus Christ Superstar '12",
 'Kinky Boots',
 "La Cage aux Folles",
 'Leap Of Faith',
 'Legally Blonde',
 'Les Miserables (musical)',
 'Lysistrata Jones',
 'Mamma Mia!',
 'Mary Poppins',
 'Matilda',
 'Memphis',
 'Million Dollar Quartet',
 "Monty Python's Spamalot",
 'Motown The Musical',
 'Motown The Musical 2016',
 'Newsies',
 'Next To Normal',
 'Nice Work If You Can Get It',
 'On A Clear Day You Can See Forever',
 'On The Town',
 'On The Twentieth Century',
 'On Your Feet!',
 'On the Town (musical)',
 'Once',
 'Pal Joey',
 'Paramour',
 'Passing Strange',
 'Pippin',
 "Porgy And Bess '11",
 'Priscilla Queen Of The Desert',
 'Promises, Promises',
 "Ragtime '09",
 'Rain: A Tribute To The Beatles On Broadway',
 'Rent',
 'Rock Of Ages',
 'Rocky',
 'Scandalous',
 'School Of Rock',
 'She Loves Me 2016',
 'Shrek The Musical',
 'Shuffle Along',
 'Side Show 2014',
 'Sister Act',
 'Something Rotten!',
 'Sondheim On Sondheim',
 'Soul Doctor',
 'South Pacific',
 'Spider-Man Turn Off The Dark',
 'Spring Awakening',
 "Sunday In The Park With George '08",
 'The 25Th Annual Putnam County Spelling Bee',
 'The Addams Family',
 'The Book Of Mormon',
 'The Bridges Of Madison County',
 'The Color Purple',
 'The Color Purple 2015',
 'The King and I 2015',
 'The Last Ship',
 'The Lion King',
 'The Little Mermaid',
 "The Mystery Of Edwin Drood '12",
 'The People in the Picture',
 'The Phantom Of The Opera',
 'The Scottsboro Boys',
 'The Story Of My Life',
 'The Visit 2015',
 'Title Of Show',
 'Tuck Everlasting',
 'Violet',
 'Waitress',
 'West Side Story',
 'Wicked',
 'Women On The Verge Of A Nervous Breakdown',
 'Wonderland',
 'Xanadu',
 'Young Frankenstein']

In [28]:
#Creating data set with Boolean variables for if a show won a Tony in each major category
musical=[]
revival=[]
director=[]
actor=[]
actress=[]

for i in show_list:
    if i in list(tony.iloc[:,1]): #add 1 for best musical winners
        musical.append(1)
    else: 
        musical.append(0)
    
    if i in list(tony.iloc[:,2]): #add 1 for best revival
        revival.append(1)
    else: 
        revival.append(0)
        
    if i in list(tony.iloc[:,3]): #add 1 for best director
        director.append(1)
    else: 
        director.append(0)
    if i in list(tony.iloc[:,5]): #add 1 for best actor
        actor.append(1)
    else: 
        actor.append(0)
    if i in list(tony.iloc[:,4]): #add 1 for best actress
        actress.append(1)
    else: 
        actress.append(0)
        

Tony=pd.DataFrame({'Name': show_list, 'Best Musical':musical, 'Best Revival':revival, 'Best Director':director, 'Best Actor':actor,'Best Actress':actress})

#Adding a column to the data for the total number of Tonys each show wins
Tony['total']=Tony['Best Musical']+Tony['Best Revival']+Tony['Best Director'] + Tony['Best Actor'] + Tony['Best Actress']
weeks= weeks.loc[:,['Weeks','Name']]


#Merging Tony data with number of weeks a show was on Broadway 
Tony=Tony.join(weeks.set_index('Name'),on='Name')
Tony

,Best Actor,Best Actress,Best Director,Best Musical,Best Revival,Name,total,Weeks
0,0,0,0,0,0,13,0,2.639057
1,0,0,0,0,0,9 To 5,0,3.091042
2,0,0,0,0,0,A Catered Affair,0,NaN
3,0,0,0,0,0,A Chorus Line '06,0,3.496508
4,0,0,0,0,0,A Christmas Story,0,1.945910
5,0,0,0,0,0,A Gentleman's Guide To Love And Murder,0,NaN
6,0,1,0,0,0,A Little Night Music,1,4.025352
7,0,0,0,0,0,A Night With Janis Joplin,0,3.044522
8,0,0,0,0,0,A Tale Of Two Cities,0,2.484907
9,0,0,0,0,0,After Midnight,0,3.610918
10,0,0,0,0,0,Aladdin,0,4.859812
11,0,0,0,0,0,All About Me,0,NaN
12,0,0,0,0,0,Allegiance,0,2.944439
13,0,0,0,0,0,Amazing Grace,0,2.890372
14,0,0,0,0,0,American Idiot,0,4.043051
15,0,0,0,0,0,American Psycho,0,2.397895
16,0,0,0,0,0,An American In Paris,0,4.317488
17,0,0,0,0,0,Annie '12,0,4.189655
18,0,1,0,0,1,Anything Goes,2,NaN
19,0,0,0,1,0,Avenue Q,1,4.488636
20,0,0,0,0,0,Baby It'S You!,0,3.178054
21,0,1,0,0,0,Beautiful: The Carole King Musical,1,4.962845
22,0,0,0,0,0,Big Fish,0,2.833213
23,0,0,0,0,0,Billy Elliot: The Musical,0,5.141664
24,0,0,0,0,0,Bloody Bloody Andrew Jackson,0,2.708050
25,0,0,0,0,0,Bonnie And Clyde,0,2.197225
26,0,0,0,0,0,Bright Star,0,2.890372
27,0,0,0,0,0,Bring It On The Musical,0,3.218876
28,0,0,0,0,0,Bullets Over Broadway,0,3.178054
29,0,0,0,0,0,Burn The Floor,0,3.218876
...,...,...,...,...,...,...,...,...
124,1,0,1,0,1,South Pacific,3,4.867534
125,0,0,0,0,0,Spider-Man Turn Off The Dark,0,5.075174
126,0,0,1,1,0,Spring Awakening,2,4.317488
127,0,0,0,0,0,Sunday In The Park With George '08,0,3.135494
128,0,0,0,0,0,The 25Th Annual Putnam County Spelling Bee,0,1.098612
129,0,0,0,0,0,The Addams Family,0,4.553877
130,0,0,0,0,0,The Book Of Mormon,0,5.655992
131,0,0,0,0,0,The Bridges Of Madison County,0,2.890372
132,0,1,0,0,0,The Color Purple,1,NaN
133,0,0,0,0,0,The Color Purple 2015,0,3.688879
134,0,0,0,0,0,The King and I 2015,0,NaN
135,0,0,0,0,0,The Last Ship,0,2.833213
136,0,0,1,1,0,The Lion King,2,6.109248
137,0,0,0,0,0,The Little Mermaid,0,4.465908
138,0,0,0,0,0,The Mystery Of Edwin Drood '12,0,3.044522
139,0,0,0,0,0,The People in the Picture,0,2.484907
140,0,0,0,0,0,The Phantom Of The Opera,0,6.109248
141,0,0,0,0,0,The Scottsboro Boys,0,2.302585
142,0,0,0,0,0,The Story Of My Life,0,1.098612
143,0,0,0,0,0,The Visit 2015,0,2.484907
144,0,0,0,0,0,Title Of Show,0,NaN
145,0,0,0,0,0,Tuck Everlasting,0,2.197225
146,0,0,0,0,0,Violet,0,NaN
147,0,0,0,0,0,Waitress,0,3.044522
148,0,0,0,0,0,West Side Story,0,4.574711
149,0,1,0,0,0,Wicked,1,6.109248
150,0,0,0,0,0,Women On The Verge Of A Nervous Breakdown,0,2.564949
151,0,0,0,0,0,Wonderland,0,2.079442
152,0,0,0,0,0,Xanadu,0,3.663562
153,0,0,0,0,0,Young Frankenstein,0,NaN

In [29]:
# Export data as a csv
pd.DataFrame.to_csv(Tony,'Tonys.csv')