# Make sure to reference code somewhere #

In [200]:
Broadway_Original = pd.read_csv('/Users/morganhogenmiller/Desktop/DA 401/Data sets/broadway(corgi).csv') #Read in CORGI data set

In [219]:
Google_Parameters= Broadway_Original[['Name','Year','Month','Day','Type']] #Reduce data set to variables to input into GT

#Filter to shows after 2010 only
Google_Parameters=Google_Parameters.loc[Google_Parameters['Year']>2010] 
Google_Parameters=Google_Parameters.loc[Google_Parameters['Type']=='Musical'] 
Google_Parameters=Google_Parameters[Google_Parameters['Name'] != 'A Little Night Music']
Google_Parameters=Google_Parameters[Google_Parameters['Name'] != "Annie '12"]


#Number of weeks each show was on Broadway
Name_Counts=pd.DataFrame(Google_Parameters['Name'].value_counts()) 
Name_Counts=Name_Counts.loc[Name_Counts['Name']> 5]
Google_Parameters
#Name_Counts

                                             Name  Year  Month  Day     Type
22552                              American Idiot  2011      1    2  Musical
22553                   Billy Elliot: The Musical  2011      1    2  Musical
22554                Bloody Bloody Andrew Jackson  2011      1    2  Musical
22556                                     Chicago  2011      1    2  Musical
22560                                         Elf  2011      1    2  Musical
22561                                       Fela!  2011      1    2  Musical
22562                              In The Heights  2011      1    2  Musical
22563                                 Jersey Boys  2011      1    2  Musical
22565                      La Cage Aux Folles '10  2011      1    2  Musical
22567                                  Mamma Mia!  2011      1    2  Musical
22568                                Mary Poppins  2011      1    2  Musical
22569                                     Memphis  2011      1    2  Musical
22570                      Million Dollar Quartet  2011      1    2  Musical
22571                              Next To Normal  2011      1    2  Musical
22572                          Promises, Promises  2011      1    2  Musical
22573  Rain: A Tribute To The Beatles On Broadway  2011      1    2  Musical
22574                                Rock Of Ages  2011      1    2  Musical
22575                Spider-Man Turn Off The Dark  2011      1    2  Musical
22576                           The Addams Family  2011      1    2  Musical
22578                               The Lion King  2011      1    2  Musical
22581                    The Phantom Of The Opera  2011      1    2  Musical
22583                             West Side Story  2011      1    2  Musical
22584                                      Wicked  2011      1    2  Musical
22585   Women On The Verge Of A Nervous Breakdown  2011      1    2  Musical
22588                              American Idiot  2011      1    9  Musical
22589                   Billy Elliot: The Musical  2011      1    9  Musical
22590                                     Chicago  2011      1    9  Musical
22593                              In The Heights  2011      1    9  Musical
22594                                 Jersey Boys  2011      1    9  Musical
22596                      La Cage Aux Folles '10  2011      1    9  Musical
...                                           ...   ...    ...  ...      ...
31262                           Something Rotten!  2016      8    7  Musical
31263                          The Book Of Mormon  2016      8    7  Musical
31264                       The Color Purple 2015  2016      8    7  Musical
31266                               The Lion King  2016      8    7  Musical
31267                    The Phantom Of The Opera  2016      8    7  Musical
31268                                    Waitress  2016      8    7  Musical
31269                                      Wicked  2016      8    7  Musical
31270                                     Aladdin  2016      8   14  Musical
31272                        An American In Paris  2016      8   14  Musical
31273          Beautiful: The Carole King Musical  2016      8   14  Musical
31274                                   Cats 2016  2016      8   14  Musical
31275                                     Chicago  2016      8   14  Musical
31276                    Fiddler On The Roof 2015  2016      8   14  Musical
31277                           Finding Neverland  2016      8   14  Musical
31278                                    Fun Home  2016      8   14  Musical
31279                          Hamilton (musical)  2016      8   14  Musical
31280                                 Jersey Boys  2016      8   14  Musical
31281                                 Kinky Boots  2016      8   14  Musical
31282                    Les Miserables (musical)  2016      8   14  Musical
31283                                     Matilda  2016      8   14  Musical
31284                               On Your Feet!  2016      8   14  Musical
31285                                    Paramour  2016      8   14  Musical
31286                              School Of Rock  2016      8   14  Musical
31287                           Something Rotten!  2016      8   14  Musical
31288                          The Book Of Mormon  2016      8   14  Musical
31289                       The Color Purple 2015  2016      8   14  Musical
31292                               The Lion King  2016      8   14  Musical
31293                    The Phantom Of The Opera  2016      8   14  Musical
31294                                    Waitress  2016      8   14  Musical
31295                                      Wicked  2016      8   14  Musical

[6332 rows x 5 columns]

In [202]:
#Provides a list of shows in form needed for function 
show_list=list(Google_Parameters.Name.unique()) 
show_list.sort() #in alphabetical order

In [203]:
#Finds opening and closing instances in the data

#Sort Google Paramters by Name
#Google_Parameters.sort_values(by=['Name'])


First_Dates=Google_Parameters.drop_duplicates(['Name'],keep='first') #Opening
First_Dates=First_Dates.sort_values('Name')
Last_Dates=Google_Parameters.drop_duplicates(['Name'],keep='last') #Closing (or last available data)
Last_Dates=Last_Dates.sort_values('Name')

In [172]:
#Made first and last days the same by changing first to last so that the monthly calsumation will not go awry below
#dates_same=list(Last_Dates['Day'])#Last_Dates

#First_Dates.drop(['Day'],axis=1)
#First_Dates['Day']= dates_same
#First_Dates
#Last_Dates

In [204]:
#Breaks opening and closing into data, month, and year lists
yr_list=list(First_Dates['Year']) #Opening 
mth_list=list(First_Dates['Month'])
dt_list=list(First_Dates['Day'])


lastyr_list=list(Last_Dates['Year']) #Closing
lastmth_list=list(Last_Dates['Month'])
lastdt_list=list(Last_Dates['Day'])

#lastyr_list

pd.DataFrame({'last month':lastmth_list,'last year':lastyr_list,'first year': yr_list,'first month':mth_list,'a':show_list})

,a,first month,first year,last month,last year
0,A Christmas Story,11,2012,12,2012
1,A Gentleman'S Guide To Love And Murder,10,2013,1,2016
2,A Night With Janis Joplin,9,2013,2,2014
3,After Midnight,10,2013,6,2014
4,Aladdin,3,2014,8,2016
5,Allegiance,10,2015,2,2016
6,Amazing Grace,6,2015,10,2015
7,American Idiot,1,2011,4,2011
8,American Psycho,3,2016,6,2016
9,An American In Paris,3,2015,8,2016
10,Anything Goes '11,3,2011,7,2012
11,Baby It'S You!,3,2011,9,2011
12,Beautiful: The Carole King Musical,11,2013,8,2016
13,Big Fish,9,2013,12,2013
14,Billy Elliot: The Musical,1,2011,1,2012
15,Bloody Bloody Andrew Jackson,1,2011,1,2011
16,Bonnie And Clyde,11,2011,1,2012
17,Bright Star,2,2016,6,2016
18,Bring It On The Musical,7,2012,12,2012
19,Bullets Over Broadway,3,2014,8,2014
20,Cabaret (musical),3,2014,3,2015
21,Catch Me If You Can,3,2011,9,2011
22,Cats 2016,7,2016,8,2016
23,Chaplin,8,2012,1,2013
24,Chicago,1,2011,8,2016
25,Cinderella,1,2013,1,2015
26,Dames At Sea,9,2015,1,2016
27,Disaster!,2,2016,5,2016
28,Doctor Zhivago,3,2015,5,2015
29,Elf,1,2011,1,2011
...,...,...,...,...,...
80,Rock Of Ages,1,2011,1,2015
81,Rocky,2,2014,8,2014
82,Scandalous,10,2012,12,2012
83,School Of Rock,11,2015,8,2016
84,She Loves Me 2016,2,2016,7,2016
85,Shuffle Along,3,2016,7,2016
86,Side Show 2014,11,2014,1,2015
87,Sister Act,3,2011,8,2012
88,Something Rotten!,3,2015,8,2016
89,Soul Doctor,7,2013,10,2013
90,Spider-Man Turn Off The Dark,1,2011,1,2014
91,Spring Awakening,9,2015,1,2016
92,The Addams Family,1,2011,1,2012
93,The Book Of Mormon,2,2011,8,2016
94,The Bridges Of Madison County,1,2014,5,2014
95,The Color Purple 2015,11,2015,8,2016
96,The King And I 2015,3,2015,6,2016
97,The Last Ship,10,2014,1,2015
98,The Lion King,1,2011,8,2016
99,The Mystery Of Edwin Drood '12,10,2012,3,2013
100,The People in the Picture,4,2011,6,2011
101,The Phantom Of The Opera,1,2011,8,2016
102,The Visit 2015,3,2015,6,2015
103,Tuck Everlasting,4,2016,5,2016
104,Violet,3,2014,8,2014
105,Waitress,3,2016,8,2016
106,West Side Story,1,2011,1,2011
107,Wicked,1,2011,8,2016
108,Women On The Verge Of A Nervous Breakdown,1,2011,1,2011
109,Wonderland,3,2011,5,2011

In [1]:
!pip install pytrends #installing the pytrends package

#Make into a function so that it works with many shows and dates 
#Add the show as a column
#Ultimate goal is to get it into the OG data set

Requirement already satisfied: pytrends in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (4.4.0)
Requirement already satisfied: requests in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (2.18.4)
Requirement already satisfied: lxml in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (3.7.3)
Requirement already satisfied: pandas in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pytrends) (0.20.1)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2018.4.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from requests->pytrends) (1.22)
Requirement already satisfied: python-dateutil>=2 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (2.6.1)
Requirement already satisfied: pytz>=2011k in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (2017.2)
Requirement already satisfied: numpy>=1.7.0 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from pandas->pytrends) (1.14.3)
Requirement already satisfied: six>=1.5 in /Users/morganhogenmiller/anaconda/lib/python3.6/site-packages (from python-dateutil>=2->pandas->pytrends) (1.11.0)

In [2]:
from pytrends.request import TrendReq #import necessary packages
pytrend = TrendReq(hl='en-US', tz=360) #define

## Try Scraping from DidHeLikeIt?##

from datetime import datetime, timedelta
import pandas as pd
import numpy as np

def monthly_gsearches(show_list,yr_list,mth_list,dt_list,lastyr_list,lastmth_list):
    #has to be input so that this can be done with many shows

    for i in show_list:

        kw_list = [i] #can increase/decrease the list size 
        num_keywords = 1 #change this if you increase/decrease the list size

        #initialize date...ALSO NEEDS CHANGED 
        for m in range(len(show_list)):
            year = yr_list[m]
            #print(yr_list[m])
            month = mth_list[m]
            #print(mth_list[m])
            date = dt_list[m]
            #print(dt_list[m])
            new_date = datetime(yr_list[m], mth_list[m], dt_list[m]).date()
            #print(new_date)

            # Name excel sheet the key word
            writer = pd.ExcelWriter(''.join([i,'17','.xlsx']))
            col = 1

            while(1):

                old_date = new_date  
                if(int(month/12) > 0):
                    year = year+1
                month = (month+1)%13
                if(month==0):
                        month += 1
                new_date = datetime(year,month,date).date()

              # Year and Month till you need the output - Change this to 2018 if you need it till present date
              #If you set month to 13, it goes until current day..good to note...will work for the shows that are still running
                if (year,month == lastyr_list[m],lastmth_list[m]):
                    print(show + 'none')
                    break
                
                if(year == lastyr_list[m] and month == lastmth_list[m] ):
                    print('stop')#NEEDS CHANGED
                    break

                timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')
                print("DATE:",timeframe)

                pytrend.build_payload(kw_list, cat=0, timeframe = timeframe,geo='US', gprop='')

              # Interest over time in one year
                data= pytrend.interest_over_time()
                df=pd.DataFrame({'mean':[np.mean(data[data.columns[0]])]})
                mean=np.mean(data[data.columns[0]])
              #print(df)
                print("\n\n")

              ## WRITE THE DATA IN AN EXCEL SHEET

              # Change the names of the columns in the data set to have show name and date
             # data = data.rename(columns={i: ' '.join([i, old_date.strftime('%Y-%m-%d')])}) #original
                data = df.rename(columns={'mean': ' '.join([i, old_date.strftime('%Y-%m-%d')])})
                print(data)

              #data=data.transpose()
              #print("List of columns:",list(data.columns.values))
              #print("Data size:", data.shape)
                if(col==1):
                    data.to_excel(writer,'sheet1',index=True ,startcol = col-1)
                    data.to_excel(writer,'sheet1',index=False ,startcol = col)
                    col = col + num_keywords
            writer.save()

In [104]:
#Second try...deleting the second for loop
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

def monthly_gsearches(show_list,yr_list,mth_list,dt_list,lastyr_list,lastmth_list):
    #has to be input so that this can be done with many shows

    for m,i in enumerate(show_list):

        kw_list = [i] #can increase/decrease the list size 
        num_keywords = 1 #change this if you increase/decrease the list size

        #initialize date...ALSO NEEDS CHANGED 

        year = yr_list[m]
        #print(yr_list[m])
        month = mth_list[m]
        #print(mth_list[m])
        date = dt_list[m]
        #print(dt_list[m])
        new_date = datetime(yr_list[m], mth_list[m], dt_list[m]).date()
        #print(new_date)
        last_year=lastyr_list[m]
        last_month=lastmth_list[m]

            # Name excel sheet the key word
        writer = pd.ExcelWriter(''.join([i,'17','.xlsx']))
        col = 1

        while(1):

            old_date = new_date  
            if(int(month/12) > 0):
                year = year+1
            month = (month+1)%13
            if(month==0):
                    month += 1
            new_date = datetime(year,month,date).date()

              # Year and Month till you need the output - Change this to 2018 if you need it till present date
              #If you set month to 13, it goes until current day..good to note...will work for the shows that are still running
            
           # if (year,month == last_year,last_month):
                    #print( 'none')
                    #break
            if(year == last_year and month == last_month):
                print('stop')#NEEDS CHANGED
                break

            timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')
            print("DATE:",timeframe)

            pytrend.build_payload(kw_list, cat=0, timeframe = timeframe,geo='US', gprop='')

              # Interest over time in one year
            data= pytrend.interest_over_time()
            df=pd.DataFrame({'mean':[np.mean(data[data.columns[0]])]})
            mean=np.mean(data[data.columns[0]])
            print("\n\n")

              ## WRITE THE DATA IN AN EXCEL SHEET

              # Change the names of the columns in the data set to have show name and date
             # data = data.rename(columns={i: ' '.join([i, old_date.strftime('%Y-%m-%d')])}) #original
            data = df.rename(columns={'mean': ' '.join([i, old_date.strftime('%Y-%m-%d')])})
            print(data)

              #data=data.transpose()
              #print("List of columns:",list(data.columns.values))
              #print("Data size:", data.shape)
            if(col==1):
                data.to_excel(writer,'sheet1',index=True ,startcol = col-1)
                data.to_excel(writer,'sheet1',index=False ,startcol = col)
                col = col + num_keywords
        writer.save() 
#will give up un

### Third ###

In [222]:
#Third try...deleting the second for loop
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

def monthly_gsearches(show_list,yr_list,mth_list,dt_list,lastyr_list,lastmth_list,lastdt_list):
    #has to be input so that this can be done with many shows

    for m,i in enumerate(show_list):

        kw_list = [i] #can increase/decrease the list size 
        num_keywords = 1 #change this if you increase/decrease the list size

        #initialize date...ALSO NEEDS CHANGED 

        year = yr_list[m]
        month = mth_list[m]
        date = dt_list[m]
        #print(new_date)
        last_year=lastyr_list[m]
        last_month=lastmth_list[m]
        last_date=lastdt_list[m]
        old_date = datetime(year, month, date).date()
        new_date = datetime(last_year, last_month, last_date).date()
    

        timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')
        print(kw_list,"DATE:",timeframe)

        pytrend.build_payload(kw_list, cat=0, timeframe = timeframe, geo='US', gprop='')

              # Interest over time in one year
        data= pytrend.interest_over_time()
        print(data)
        df=pd.DataFrame({'mean':[np.mean(data[data.columns[0]])]})
        mean=np.mean(data[data.columns[0]])
        print("\n\n")

              ## WRITE THE DATA IN AN EXCEL SHEET

              # Change the names of the columns in the data set to have show name and date
             # data = data.rename(columns={i: ' '.join([i, old_date.strftime('%Y-%m-%d')])}) #original
        #data = df.rename(columns={'mean': ' '.join([i, old_date.strftime('%Y-%m-%d')])})

              #data=data.transpose()
              #print("List of columns:",list(data.columns.values))
              #print("Data size:", data.shape)

## The above should work at another time (429 error) ##

In [223]:
monthly_gsearches(show_list,yr_list,mth_list,dt_list,lastyr_list,lastmth_list,lastdt_list) #list of all the shows and dates
#WORK TO GET THIS FROM CORGI

#Get all of the starting dates from the other data set so that you don't have to enter them manually and run the function
#as many times as there

['A Christmas Story'] DATE: 2012-11-18 2012-12-30

ResponseError: The request failed: Google returned a response with code 429.

In [ ]:
Then have to say for each show, for each (year, month) pair,average searches